<div class="container">
    <input type="text" placeholder="Search" aria-label="Search" [(ngModel)]="titre">

    <div class="row" >
        <div class="col-md-4" style="margin-bottom: 20px;" *ngFor="let category of categories | search:titre " >
            <img 
            [src]="category.image" 
            [alt]="category.title" 
            class="img-fluid h-50 w-75"
            (click) = "showDescription(category.description)"
            />
            <h3 appHighlighter>{{category.title | uppercase}}</h3>
            <button class="btn btn-primary" *ngIf="category.available else alt">Voir produits</button>
            <ng-template #alt><p style="color: red;">category unavalible</p></ng-template>
        </div>
    </div>
</div>
